  <div class="container supporting">
    <img src="resources/img/citlogosmall.png"/>
    <div class="description">
      <h2>Welcome to Constantino IT Consulting</h2>
      <p>Specialialized Consulting in Information Technology. We create software for twenty-years and we offer Information Tecnology Expertise World Wide. Born in 2002 in Brazil while our experts started to create innovative software, we now are expanding our services abroad.</p>
      <p>Java/Oracle/Microsoft Experts Team</p>
    </div>
  </div>